*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(135deg, rgb(238, 7, 180), rgb(215, 108, 236));
}
.container {
  border: 2px solid white;
  width: 40px;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 40px;
}
#newtask {
  position: relative;
  background-color: #ffff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
#newtask input {
  width: 70%;
  width: 70%;
  height: 45px;
  font-size: 15px;
  border: 2px solid #ffff;
  padding: 12px;
  color: #111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}
#newtask input:focus {
  outline: none;
  border-color: rgb(238, 7, 180);
}
#newtask button {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  background-color: rgb(238, 7, 180);
  border: none;
  color: aliceblue;
  cursor: pointer;
}
#tasks {
  background-color: #ffff;
  padding: 30px 20px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0.3);
  width: 100%;
  position: relative;
}
.task {
  background-color: #ffff;
  height: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
}
.task span {
  font-weight: 15px;
  font-size: 400;
}
.task button {
  background-color: rgb(238, 7, 180);
  color: #ffff;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}
